*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.container{
    width: 100%;
    height: 10vh;
    background-image: url(image/background.jpg);
  background-size: cover;  
  background-position: center;
  display: grid;
  align-items: center;
  justify-content: center;
}
.profile-box{
    background: #ff5474;
    text-align: center;
    padding: 40px 90px;
    color: #fff;
    position: relative;
    border-radius: 20px;
}
.ri-settings-3-line{
    width: 25%;
    position: absolute;
    left: 40px;
    top: 40px;
}

.ri-list-settings-line{
    width: 35px;
    position: absolute;
    right: 40px;
    top: 40px;
}
.circle-img{
  width: 150px;       /* Set a fixed width */
  height: 150px;      /* Set an equal height to make it square */
  border-radius: 50%; /* This makes the square element a circle */
  object-fit: cover;
  background: #fff;
  padding: 6px;
  margin-top: 40px;

}